version: '3.8'

services:
  # Infrastructure Services
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_MULTIPLE_DATABASES: userdb,coursedb,paymentdb,notificationdb,mediadb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123


  redis:
    image: redis:latest
    ports:
      - "6379:6379"



  # Application Services
  config-server:
    build: ./config-server
    ports:
      - "8888:8888"
    environment:
      - SPRING_PROFILES_ACTIVE=native

  discovery-server:
    build: ./discovery-server
    ports:
      - "8761:8761"
    depends_on:
      - config-server

  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - discovery-server
      - config-server

  user-service:
    build: ./user-service
    ports:
      - "8081:8081"
    depends_on:
      - postgres
      - discovery-server
      - config-server

  course-service:
    build: ./course-service
    ports:
      - "8082:8082"
    depends_on:
      - postgres
      - discovery-server
      - config-server

  payment-service:
    build: ./payment-service
    ports:
      - "8083:8083"
    depends_on:
      - postgres
      - rabbitmq
      - discovery-server
      - config-server

  notification-service:
    build: ./notification-service
    ports:
      - "8084:8084"
    depends_on:
      - rabbitmq
      - discovery-server
      - config-server

  media-service:
    build: ./media-service
    ports:
      - "8085:8085"
    depends_on:
      - discovery-server
      - config-server

volumes:
  postgres_data: